body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
   
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw
}


.card {
  background: #1a1a1a;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
}


.card h1 {
  margin-bottom: 10px;
  color:blueviolet;
}

.card h2 {
  margin-bottom: 20px;
  color:white;
}

button {
  padding: 10px 20px;
  margin: 8px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.add {
  background-color: #4caf50;
  color: white;
}

.remove {
  background-color: #f44336;
  color: white;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
